*::-webkit-scrollbar {
    display: none;
}

@font-face {
    font-family: 'Poppins';
    src: url('./assets/fonts/Poppins-Regular.ttf') format('ttf'),
         url('./assets/fonts/Poppins-Regular.ttf') format('ttf');
    font-weight: 400;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Poppins';
    src: url('./assets/fonts/Poppins-Bold.woff2') format('woff2'),
         url('./assets/fonts/Poppins-Bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
  }
  


  
body {
    background: whitesmoke;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    position: absolute;
}

#root {
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    position: relative;
}

.job_list_item {
    transition-duration: .5s;
    cursor: pointer;
}
.job_list_item:hover {
    transform: scale(1.02);
    box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.341) !important;
}

.blur-overlay {
    background: rgba(69, 149, 219, 0.58);
    position: absolute;
    top: 0
}

.home-title-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}

.top_nav {
    position: sticky;
    top: 0;
    z-index: 1020;
}
.accordion-button {
    background-color: transparent;
    border: none;
    box-shadow: none;
    color: #000; 
    font-size: 1.1rem; 
    padding: 1rem;
  }
  
  .accordion-button:not(.collapsed) {
    color: #ff5656; 
    background-color: transparent;
  }
  
  .accordion-button:focus {
    box-shadow: none;
  }
  
  .accordion-body {
    border-top: none;
    padding-left: 1rem;
    padding-right: 1rem;
  }
  

.ab-flex-column {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.sidebar-container {
    display: flex;
    flex-direction: column;
    background: white;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    animation: sidebar-animation;
    animation-duration: 0.3s;
    animation-timing-function: ease-in-out;
    animation-direction: normal;
    animation-iteration-count: 1;
    position: absolute;
    left: 0;
    top: 0;
}

.settingbar-container {
    background: white;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    animation: settingbar-animation;
    animation-duration: 0.3s;
    animation-timing-function: ease-in-out;
    animation-direction: normal;
    animation-iteration-count: 1;
    position: absolute;
    right: 0;
    top: 0;
}

.sidebar-overlay {
    background: rgba(128, 128, 128, 0.534);
    width: 100%;
    height: 100%;
    z-index: 1000;
    position: fixed;
    top: 0;
}

.sidebar-container-mobile {
    position: absolute;
    left: 0;
    top: 0;
}
.ck.ck-editor__main>.ck-editor__editable {
    border-color: var(--ck-color-base-border);
    min-height: 200px;
}

.company-logo {
    width: 150px;
    height: auto;
    position: relative;
}
.active-sidebar-item {
    background-color: #007bff; 
    color: white;
    border-radius: 4px;
    
  }

.lksdjf {
    background: rgb(223, 223, 223);
}
@media screen and (max-width: 768px){
    .home-inputs{
        flex-wrap: wrap;
    }

    .login-form-container {
        width: 100%;
    }
}

@keyframes sidebar-animation {
    0% { transform: translateX(-40%)}
    100% { transform: translateX(0)}
}

@keyframes settingbar-animation {
    0% { transform: translateX(40%)}
    100% { transform: translateX(0)}
}