.inner_nav {
    width: max-content;
    height: max-content;
    padding: 0;
    transition-duration: 0.2s;
    position: relative;
    top: 0;
    left: 0;
}

.inner_nav:hover {
    position: relative;
    top: -30px;
    /* background-color: rgba(255, 255, 255, 0.835); */
}

.innver_nav_item {
    height: 30px;
}

.k_btn {
    background-color: white;
    color: black;
    box-shadow: 0px 2px 1px black;
    transition-duration: 0.3s;
    border-radius: 10px;
}

.k_btn:hover {
    background: linear-gradient(to right, #DB5E00, #e4be02);
    box-shadow: 4px 6px 1px black;
}

.header_slide_in {
    animation-name: slide;
    animation-duration: 0.5s;
    animation-timing-function: ease-out;
}

@keyframes slide {
    from {
        transform: translateY(-50%);
    }

    to {
        transform: translateX(0);
    }
}